<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIMtrovert.BS_Customs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BIMtrovert.BS_Customs.Properties.Settings>
            <setting name="Check3DView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View3DTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckedElev" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewElTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewPlTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewPaTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckedPlan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckedPart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="View3DTemplateFlr" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewPlanTEmplateFlr" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewJoistTemplateFlr" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewTrackTemplateFlr" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplTemplateFlr" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewPaTemplateFlr" serializeAs="String">
                <value />
            </setting>
            <setting name="Check3DViewFlr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckedPlanFlr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckJoistFlr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckTrackFlr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckPartFlr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckTemplFlr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorDim" serializeAs="String">
                <value />
            </setting>
            <setting name="VertDim" serializeAs="String">
                <value />
            </setting>
        </BIMtrovert.BS_Customs.Properties.Settings>
    </userSettings>
</configuration>